<%- include('../uploaderPartials/header.ejs') %>
<style>
    @media (min-width: 768px) {
        .col-md-6.offset-md-3 {
            width: 50%;
            margin: 0 auto;
        }
    }

    /* .main {
        background-image: url("/Images/jara.jpg");
        background-size: cover;
    } */
</style>
<main class="d-flex align-items-center min-vh-100 py-3 py-md-0 main">
    <div class="container">
        <% if (success && success.length) { %>
        <div class="alert alert-success alert-dismissible fade show" style="width: 100%" role="alert">
            <strong><%= success %> </strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } %> <% if (error && error.length) { %>
        <div class="alert alert-danger alert-dismissible fade show" style="width: 100%" role="alert">
            <strong><%= error %> </strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } %>
        <div class="col-12 col-md-6 offset-md-3" style="background-color: #a5a5a5; padding: 20px; border-radius: 10px">
            <p style="font-weight: bold;">Banking Function</p>
            <form action="/banking/" method="post" autocomplete="off" style="display: flex; flex-direction: column;">
                <div
                    style="flex-direction: row; justify-content: space-between; align-items: center; margin-bottom: 10px;">
                    <div class="form-group mb-3" style="flex: 1; margin-right: 10px;">
                        <label for="datepicker" class="">Start Date</label>
                        <input id="datepicker" name="startDate" class="form-control datepicker" type="date" />
                    </div>
                    <div class="form-group mb-3" style="flex: 1; margin-right: 10px;">
                        <label for="datepicker" class="">End Date</label>
                        <input id="datepicker" name="endDate" class="form-control datepicker" type="date" />
                    </div>
                    <div class="form-group mb-3" style="margin-right: 10px;">
                        <label for="email" class="sr-only">Bank</label>
                        <select name="bank" id="bank" class="form-control">
                            <% banks.forEach(bank => {%>
                            <option value="<%= bank?.name%>"><%= bank?.name%></option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="form-group mb-3" style="margin-right: 10px;">
                        <label for="dealercode" class="">Location</label>
                        <select name="location" id="location" class="form-control"></select>
                    </div>
                    <button name="login" id="login" class="btn btn-block btn-dark mb-3" type="submit">
                        Download
                    </button>
            </form>

        </div>
    </div>
</main>

<%- include("../uploaderPartials/footer.ejs") %>
<script>
    const bankLoc = [{
            name: "First Bank Plc",
            locations: ["Lagos", "Abuja"],
        },
        {
            name: "Guarantee Trust Bank",
            locations: ["Lagos"],
        },
        {
            name: "First City Monument Bank(FCMB)",
            locations: ["Lagos", "Abuja", "PHC"],
        },
        {
            name: "Zenith Bank",
            locations: ["Lagos", "Abuja", "PHC", "Ibadan"],
        },
        {
            name: "Eco Bank",
            locations: ["Lagos", "Abuja"],
        },
        {
            name: "FIDELITY Bank",
            locations: ["Lagos"],
        },
        {
            name: "United Bank of Africa(UBA)",
            locations: ["Lagos"],
        },
    ];

    // Populate location dropdown based on selected bank
    function populateLocationDropdown(selectedBank) {
        const location = bankLoc.find((b) => b.name === selectedBank);
        const locationElement = document.getElementById("location");
        locationElement.innerHTML = "";
        location.locations.map((loc) => {
            locationElement.innerHTML += `<option value="${loc}">${loc}</option>`;
        });
    }

    // Initial population of location dropdown
    const initialSelectedBank = document.getElementById("bank").value;
    populateLocationDropdown(initialSelectedBank);

    // Add change event listener to the bank dropdown
    document.getElementById("bank").addEventListener("change", function () {
        const selectedValue = this.value;
        populateLocationDropdown(selectedValue);
    });
</script>